@media (min-width: 200px) {
    .footer {
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 5px;
        bottom: 0;
        padding-bottom: 5px;
    }
}

@media (min-width: 900px) {
    .footer {
        display: flex;
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 5px;
        position: fixed;
        bottom: 0;
    }

    .footer > p {
        margin-right: 10px;
    }
}