.weatherCard {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}

.weatherPicture {
    height: auto;
    width: 100px;
    margin: auto;
}

.rainContainer {
    display: flex;
    margin: 5px auto 10px auto;
}

.rain {
    margin-top: 7px;
}

.umbrella {
    height: 30px;
}