.weatherCard {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}

.weatherPicture {
    height: auto;
    width: 100px;
    margin: auto;
}